<% title "Authentications" %>

<h1>Authenticate</h1>

<% if current_user %>
	It is possible to use multiple authentication providers with your account. Simply click on the Provider you want to add below:<br />
<% else %>
	<b>You can use any of the services below to login:</b><br />
<% end %>

<% Authentication::Providers.each do |provider| %>
	<%= link_to image_tag("authbuttons/png/#{provider.gsub(/_/,'')}_64.png"), "/auth/#{provider}" unless current_user.providers.include? provider %>
<% end %>
